.form_container {
	display: flex;
	width: 95%;
	position: relative;
	align-items: center;
}

.form_field {
	width: 100%;
	border-radius: 50px;
	padding: 20px 30px;
	font-size: 25px;
	border: none;
	transition: 0.2s;
	box-shadow: inset 0 0 5px black;
}

.form_field:focus {
	box-shadow: 0 0 10px 1000px rgba(0, 0, 0, 0.5);
	outline: none;
}
.form_btn {
	position: absolute;
	width: max-content;
	height: 50px;
	margin: 12px;
	border-radius: 50px;
	right: 0px;
	border: none;
	font-size: 15px;
	background-color: #2f74c0;
	color: white;
	transition: 0.2s all;
	box-shadow: 0 0 10px black;
}

.form_btn:hover {
	background-color: #388ae2;
}

.form_btn:active {
	transform: scale(0.8);
	box-shadow: 0 0 5px black;
}

.form_btn:disabled {
	opacity: 0.5;
	cursor:not-allowed;
}